.post {
  display: flex;
  margin: auto;
  padding-bottom: 64px;
}

.post p {
  width: 500px;
  margin: auto;
}


.post img {
  padding: 8px;
}

.right {
  flex-flow: row nowrap;
  text-align: left;
}

.left {
  flex-flow: row-reverse nowrap;
  text-align: right;
}