.post {
  display: flex;
  margin: auto;
  padding-bottom: 32px;

  /* box-sizing: border-box; */
}

.post p {
  width: 400px;
}

.post img {
  padding: 4px;
  max-width: 100%;
  height: auto;
}

.right {
  flex-flow: row nowrap;
  text-align: left;
}

.left {
  flex-flow: row-reverse nowrap;
  text-align: right;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
  .post {
    display: flex; 
    flex-flow: column nowrap;
  }

  .post img {
    align-self: center;
    max-width: 350px;
  }

  .right, .left {
    text-align: center;
  }

  .post p {
    padding: 0;
    text-align: center;
    margin: auto;
  }
}