.App {
  text-align: center;
  background-color: #ffefd3;
  color: #ca907e;
  min-height: 100vh;
}

/* 
Light Mode

bg - #FFEFD3
link - #ADB6C4
text - #CA907E

header - #994636
subheader - #FFC49B
*/

.content {
  width: 100%;

  margin: auto;
}

.logo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  align-items: center;
  padding-top: 24px;
}

.logo img {
  padding-bottom: 16px;
}

.nav {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 300px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.nav li {
  padding: 8px;
}

.nav a {
  color: #adb6c4;
  text-decoration: none;
}

.nav a:hover {
  color: #ffc49b;
}

@media only screen and (max-width: 768px) {
  .content {
    margin: auto;
  }

  .nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
  }

  .nav li {
    padding: 4px;
  }
}
