.App {
  text-align: center;
}

.content {
  max-width: 900px;

  margin: auto;
}

.nav {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 300px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.nav li {
  padding: 8px;
}

.nav a:hover {
  color: pink;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
  }

  .nav li {
    padding: 4px;
  }
}
