.checkout {
  margin: 0 auto;

  height: 80vh;
  width: 85%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.checkout h1,
hr {
  padding: 0;
  margin: 0;
  text-align: left;
}

hr {
  margin-bottom: 8px;
}

.cart {
  width: 100%;
}

.cart img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
