.contact {
  min-height: 40vh;
}

.contact-form {
  max-width: 760px;
  margin: auto;
}

.contact form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.contact input,
textarea {
  margin: 8px;
}
