.cover {
  background-image: url("../images/flower-art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-attachment: fixed;
  /* filter: brightness(50%); */

  height: 600px;
  overflow: hidden;
  margin: 0 auto;

  color: white;
}

.title {
  display: block;
  width: 300px;
  margin-left: 55%;
  margin-top: 240px;
}

.title h1 {
  font-size: 48px;
  color: white;
  background: #222111;
  mix-blend-mode: multiply;
}

.text {
  display: block;
  width: 600px;
}

.text p {
  font-size: 24px;
  color: white;
  background: #222111;
  mix-blend-mode: multiply;
}
