.sku-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.sku-card {
  z-index: 0;
  vertical-align: center;
  position: relative;
  padding: 16px;
}

.sku-card img {
  max-height: 280px;
  max-width: 280px;
  padding: 8px;
}

.overlay {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  overflow: hidden;

  padding: 0;
  margin: 0;
  bottom: 0;
  left: 12.5%;

  width: 75%;
  height: 0;

  opacity: 0;
  transition: 0.8s ease;
  background-color: white;
}

.overlay p {
  background-color: teal;
  color: white;
  padding: 2px;
  margin: 0;
  font-size: 18px;
  font-weight: 750;
}

.sku-card:hover img {
  filter: blur(2px);
}

.sku-card:hover .overlay {
  opacity: 1;
  height: 20%;
  bottom: 0;
}

.sku-card {
  color: #555;
  font-size: 20px;
}

.sku-card small {
  font-weight: 400;
}

.sku-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .sku-cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .sku-card img {
    max-height: 225px;
  }
}
